blinker==1.4
certifi==2020.6.20
chardet==3.0.4
cli-helpers==2.1.0
click==7.1.2
cloudinary==1.22.0
configobj==5.0.6
Faker==4.1.1
Flask==1.1.2
Flask-DebugToolbar==0.11.0
Flask-SQLAlchemy==2.4.4
humanize==2.5.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pgcli==2.1.1
pgspecial==1.11.10
pkg-resources==0.0.0
prompt-toolkit==2.0.10
psycopg2==2.7.7
psycopg2-binary==2.8.5
Pygments==2.6.1
python-dateutil==2.8.1
requests==2.24.0
setproctitle==1.1.10
six==1.15.0
SQLAlchemy==1.3.18
sqlparse==0.3.1
tabulate==0.8.7
terminaltables==3.1.0
text-unidecode==1.3
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
