body {font-family: 'Open Sans', serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Spartan', sans-serif;}

.container {
  padding:0!important;
}

.dropdown {
  
}

body {
  text-align: center; 
  margin-left: 5rem!important; 
  margin-top: 12rem!important;
  padding:0;
  background-image:url("dot-grid/dot-grid.png");
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
  margin-left: 0;
  margin-right: 0;
  margin-bottom:0;
}

.ml-5, .mx-5 {
  margin-left: 3rem!important;
  margin-top: 10rem!important;
}

.btn, .btn-primary {
  background-color: #e9ccbd;
  color: black;
  border: none;
}

.card-header {
  background-color: #e9ccbd;
  color: black;
  border: none;
}

.file-input {
  text-align: center;
}

.homepage-description {
  text-align: left;
}

.homepage-description, #homepage-overview, #homepage-text {
  margin-left: 15rem;
  margin-right: 15rem;
  font-size: 110%;
}

#join-community-header, #create-community-header {
  margin-left: 8rem;
  margin-right: 8rem;
}


