
{% extends 'base.html' %}

{% block title %}Wear my Closet{% endblock %}

{% block body %}

<h2> My Account </h2>
    <ul>
        <li>User ID: {{ user_id }}</li>
        <li>Email: {{ email }}</li>
        <li>City: {{ city }}</li>
        <li>Phone: {{ phone }}</li>
    </ul>

<h3> My Communities </h3>
    <ul>
    {% for community in communities%}
    <li> {{ community }}</li>
    {% endfor %}
</ul>

<h3> My Items </h3>
    <ul>
        {% for item in closet%}
        <img src="{{ item.image_url }}">
        {% endfor %}
    </ul>

<h3> My checkouts </h3>
    {% for checkout in checkout_items %}
    <p>Checkout Date: {{ checkout.checkout.checkout_date }}</p>
        <li>Item Name: {{ checkout.item.item_name }}</li>
        <li>Return Due Date: {{ checkout.due_date }}</li>
        <li>Item Owner: {{ checkout.item.user.first_name + ' ' + checkout.item.user.last_name }}</li>
        <!-- <li>{{ checkout.item.item_name }}</li> -->
        {% endfor %}
    </ul>

{% endblock %}


