
{% extends 'base.html' %}

{% block title %}Wear my Closet{% endblock %}

{% block body %}

<h3>My Communities</h3>

{% for community in communities%}
<div class="card">
    <div class="card-body">
        <div class="card-columns">
        <h5 class="card-title">{{ community.community.community_name }}</h5>
            <p class="card-text">{{ community.community.community_description }}
            </p>
        </div>
    </div>
</div>
{% endfor %}

<h3>My Checkouts</h3>

{% for checkout in checkout_items %}
<div class="card">
    <div class="card-body">
        <div class="card-columns">
        <h5 class="card-title">Checkout Date: {{ checkout.checkout.checkout_date }}</h5>
            <p class="card-text">
                Item Name: {{ checkout.item.item_name }}<br>
                Return Due Date: {{ checkout.due_date }}<br>
                Item Owner: {{ checkout.item.user.first_name + ' ' + checkout.item.user.last_name }}<br>
            </p>
        </div>
    </div>
</div>
{% endfor %}

<h3> My Items </h3>
    <ul>
        {% for item in closet%}
        <img src="{{ item.image_url }}" class="img-thumbnail" style="max-width: 25%;">
        {% endfor %}
    </ul>
<!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">My Account</h3>
        <p class="card-text" style="text-align: left;">
            User ID: {{ user_id }} <br>
            Email: {{ email }} <br>
            City: {{ city }}<br>
            Phone: {{ phone }}
        </p>
    </div>
</div> -->

{% endblock %}


