<!DOCTYPE html>
<html>
<head>
  <title>Wear my Closet{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css">
  <script src="http://code.jquery.com/jquery.js"></script>
</head>
<body>
  
  <h3>Wear My Closet</h3>
  <a type="button" id="home-button" href="/home">Home</a>
  <br>
  <a type="button" id="community-closet" href="/community">Community Closet</a>
  <br>
  <a type="button" id="mycloset-buttom" href="/mycloset">My Closet</a>
  <br>
  <a type="button" id="account-button" href="/myaccount">My Account</a>
  <br>
  <a type="button" id="logout-button" href="/logout">Logout</a>
  <p>
  {% with errors = get_flashed_messages(category_filter=["password-error"]) %}
      {% if errors %}
      <div class="alert-message block-message error">
        {%- for msg in errors %}
          <div> <b> {{ msg }}</b></div>
        {% endfor -%}
      </div>
      {% endif %}
  {% endwith %}
  </p>
  {% block body %} HERE IS THE BODY {% endblock %}
  <script src="/static/js/communityCloset.js"></script>
</body>
</html>
