<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <nav class="navbar fixed-top navbar-light" style="font-family: 'Spartan', serif; justify-content: stretch; padding: 0;">
    <div class="container" style="padding: 0; margin:0;">
        <a class="nav-brand" style="font-family: 'Spartan', serif; color: black; font-weight: bold;" href="/home"><img src="/static/img/wear my closet.png" style="width: 250px;"> </a>
        <a class="nav-link" style="font-family: 'Spartan', serif; color: black;;" href="/community">My Community</a>
        <a class="nav-link" style="font-family: 'Spartan', serif;color: black;" href="/mycloset">My Closet</a>
        <a class="nav-link" style="font-family: 'Spartan', serif;color: black;" href="/cart">My Cart</a>
        <a class="nav-link" style="font-family: 'Spartan', serif;color: black;" href="/myaccount">My Account</a>
        <a class="nav-link" style="font-family: 'Spartan', serif;color: black;" href="/logout">Logout</a>
    </div>
  </nav>
  <title>{% block title %}Wear my Closet{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Spartan:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/static/css" rel="stylesheet">
</head>

<body class="mx-3" style="text-align: center; margin-left: 5rem!important; margin-top: 12rem!important; font-family: 'Roboto Slab', sans-serif;">
  <p>
  {% with errors = get_flashed_messages(category_filter=["error-message"]) %}
      {% if errors %}
      <div class="alert-message block-message error">
        {%- for msg in errors %}
        <div style="font-family: 'Roboto Slab', sans-serif;" class="alert alert-warning" role="alert"> <b> {{ msg }}</b></div>
        {% endfor -%}
      </div>
      {% endif %}
  {% endwith %}
  </p>
  {% block body %} HERE IS THE BODY {% endblock %}
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
 
  <script src="/static/js/myCommunity.js"></script>
  <script src="/static/js/myCart.js"></script>
</body>
</html>
