<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Wear my Closet{% endblock %}</title>
  <link rel="stylesheet" href="/static/css">
  <script src="http://code.jquery.com/jquery.js"></script>
</head>
<body>
  {% block body %} 
  <h3>Wear My Closet</h3>
  <br>
  <a type="buttom" id="mycloset-buttom" href="/mycloset">My Closet</a>
  <br>
  <a type="button" id="checkout-button" href="/checkout">Checkout</a>
  <br>
  <a type="button" id="logout-button" href="/logout">Logout</a>
  <p>
  {% with errors = get_flashed_messages(category_filter=["password-error"]) %}
      {% if errors %}
      <div class="alert-message block-message error">
        {%- for msg in errors %}
          <div> <b> {{ msg }}</b></div>
        {% endfor -%}
      </div>
      {% endif %}
  {% endwith %}
  </p>
  <a></a>
  <script src="/static/js/uploadPhotos.js"></script>
  {% endblock %}
</body>
</html>
