{% extends 'base.html' %}

{% block title %}Wear my Closet{% endblock %}

{% block body %}
<h3>My Cart</h3>
<p>This is where you can checkout multiple items</p>
<form method="POST" action="/checkout" id="checkout-form">
    <ul>
        <li>Item ID</li>
        <li>User ID</li>
        <li>Checkout Date</li>
        <li>Due Date</li>
        <li>Return Date</li>
        <li>Checkout Status</li>
        <button type="submit" name="checkout-form" action="/checkout">Checkout</button>
        </ul>
    </ul>
</form>
<script src="/static/js/myCart.js"></script>
{% endblock %}
