{% extends 'base.html' %}

{% block title %}Wear my Closet{% endblock %}

{% block body %}

<h1>Hello</h1>
<p>
    <form action="/myaccount" id="checkout-items"></form>
    <ul>
    {% for user in community_users %}
        <li>{{ user.email }}</li>
        {% for item in user_items %}
        <input type="radio" name="community" value="{{ user_items[user.user_id][0].item_name }}">
        <label>{{ user_items[user.user_id][0].item_name }}</label>
        <br>
            <p> {{ user_items[user.user_id][0].image_url }} </p>
        <br> 
        <button type="submit" id="community-buttons" action="/myaccount">Select</button>
        {% endfor %}
    {% endfor %}
    
    </ul>
    </form>
</p>

{% endblock %}
    

