
{% extends 'base.html' %}

{% block title %}Wear my Closet{% endblock %}

{% block body %}

<form action="/cart" id="my-community-form">
    <label for="community-field">Select your community:</label>
    <select name="community" id="community-field">
        {% for community in user_communities %}
            <option value="{{ community }}">{{ community }}</option>
        {% endfor %}
    </select>
    <br>
    <button type="submit" id="community-button">Select</button>
    <br> 
    <div id="community-items"></div>
    <button type="submit" id="cart-button" name="go-to-cart" action="/cart">Go to cart</button>
</form>


{% endblock %}
