
{% extends 'base.html' %}

{% block title %}Wear my Closet{% endblock %}

{% block body %}

<form id="my-community-form">
    Select your community:
    {% for community in user_communities %}
    <input type="radio" name="community" value="{{ community }}" id="community-field">
    <label>{{ community }}</label>
    {% endfor %}
    <br>
    <button type="submit" id="community-button">Select</button>
    <br> 
</form>
<button disabled="true" type="button" id="checkout-button" name="checkout-item" action="/checkout">Add item to checkout</button>
<div id="community-items"></div>

<!-- <script src="myCheckout.js"></script> -->

{% endblock %}
