{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block body %}
  <h1>Welcome </h1>
  <p>About</p>

<h2>Join a community:</h2>
<form action="/joincommunity" id="my-community-form">
  Select your community:
  <select name="join-community">
      {% for community in communities %}
        {% if community not in user_communities%}
          <option name ="{{ community.community_name }}" value="{{ community.community_name }}">{{ community.community_name}}</option>
        {% endif %}
      {% endfor %}
  </select>
  <br>
  <button type="submit" action="/community">Select</button>
  <br> 
</form>

<h2>Create a community here:</h2>
  <form action="/createcommunity" method="POST">
    <p>
      Community Name <input type="text" name="community_name">
    </p>
    <p>
      Description <input type="text" name="community_description">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>
 {% endblock %}
