{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block body %}
  <h1>Welcome {{ email }}</h1>
  <p>About</p>

<h2>Create a community here:</h2>
  <form action="/community" method="POST">
    <p>
      Community Name <input type="text" name="community_name">
    </p>
    <p>
      Location <input type="password" name="location">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

<h2>Join a community:</h2>
<form action="/community" id="my-community-form">
  Select your community:
  <select name="join-community">
      {% for community in communities %}
      <option name ="{{ community.community_name }}" value="{{ community.community_name }}">{{ community.community_name}}</option>
      {% endfor %}
  </select>
  <br>
  <button type="submit" action="/community">Select</button>
  <br> 
</form>
 {% endblock %}
