{% extends 'base.html' %}

{% block title %}Wear my Closet{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h3>Log In</h3>
  <form action="/home" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p> 
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Don't have an account yet?</h2>
  <h3> Fill out this form to get started!</h3>
  <form action="/" method="POST">
    <p>
      Email <input type="text" name="new_email">
    </p>
    <p>
      Password <input type="password" name="new_password">
    </p>
    <p>
      City <input type="text" name="city">
    </p>
    <p>
      Phone <input type="text" name="phone">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

{% endblock %}
