{% extends 'base.html' %}

{% block title %}Wear my Closet{% endblock %}

{% block body %}

  <h3> Upload your clothes</h3>

  <div class="container-form-share">
    <form method="POST"/ action="/mycloset" enctype="multipart/form-data">
      <input type=file name="file" class="form-control" id="image-upload">
      <br>
      <input type=text name="item_name">Item Name
      <br>
      Select a category:
      <select name="category">
        <option value="tops">Tops</option>
        <option value="bottoms">Bottoms</option>
        <option value="dresses">Dresses</option>
        <option value="jackets & coats">Jackets & Coats</option>
        <option value="sweaters">Sweaters</option>
        <option value="shoes">Shoes</option>
        <option value="accessories">Accessories</option>
      </select>
      <br>
      <button type="submit" id="upload-item" action="/mycloset">Upload</button>
      <br> 
    </form>
<!--     <div method="POST" action="/mycloset" name="mycloset">

 -->
  </div>

  <h3> What's in your closet: </h3>

  <div class="image-library">
    <p>
    {% for item in closet %}
      <img src={{ item }}>
    <p>
    {% endfor %}
    <img src="https://res.cloudinary.com/lowdock/image/upload/v1597539642/mouhdz2rivsvqs7rrnyh.jpg">
    <img src="https://res.cloudinary.com/lowdock/image/upload/v1597343686/axubpvppdrxrb0crikt8.jpg">

  <script src="/static/js/uploadPhotos.js"></script>
{% endblock %}
