{% extends 'base.html' %}

{% block title %}Wear my Closet{% endblock %}

{% block body %}

  <h3> Upload your clothes</h3>

  <div class="container-form-share">
    <form method="POST" id="upload-item-form" enctype="multipart/form-data">
      <input type=file name="file" class="form-control">
      <br>
      <input type=text name="item_name" id="item-field">Item Name
      <br>
      Select a category:
      <select name="category">
        <option value="tops">Tops</option>
        <option value="bottoms">Bottoms</option>
        <option value="dresses">Dresses</option>
        <option value="jackets & coats">Jackets & Coats</option>
        <option value="sweaters">Sweaters</option>
        <option value="shoes">Shoes</option>
        <option value="accessories">Accessories</option>
      </select>
      <br>
      <button type="submit" >Upload</button>
      <br> 
    </form>
  </div>

  <h3> What's in your closet: </h3>
  <div id="image-library"></div>
  <div class="image-library">
    <p>
      {% for item in closet %}
        {% for url in item %}
          <img src={{ url }}>  
        {% endfor %}
      {% endfor %}
    </p>
  </div>
{% endblock %}
