{% extends 'base.html' %}

{% block title %}Wear my Closet{% endblock %}

{% block body %}

  <h3> Upload your clothes</h3>

  <div class="container-form-share">
    <form method="POST" id="upload-item-form" enctype="multipart/form-data">
      <input type=file name="file" class="form-control" id="image-field">
      <br>
      <input type=text name="item_name" id="name-field">Item Name
      <br>
      Select a category:
      <select name="category" id="category-field">
        <option value="tops">Tops</option>
        <option value="bottoms">Bottoms</option>
        <option value="dresses">Dresses</option>
        <option value="jackets & coats">Jackets & Coats</option>
        <option value="sweaters">Sweaters</option>
        <option value="shoes">Shoes</option>
        <option value="accessories">Accessories</option>
      </select>
      <br>
      <button type="submit" >Upload</button>
      <br> 
    </form>
  </div>
  <h3> What's in your closet: </h3>
  <div id="item-library"></div>
  <script src="/static/js/uploadPhotos.js"></script>
  <script src="/static/js/viewCloset.js"></script>
{% endblock %}
